# Este arquivo define os indivíduos ou equipes responsáveis pelo código no repositório.
# Para mais informações, veja: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/about-code-owners

# Proprietário padrão para todo o código
* @dexcarva
